$defaultTransition: all .3s ease;
$defaultPadding: 10px;
$defaultShadow: 0 0 2px gray;

$colorA: #02ad8b;
$colorB: #e08f00;
$colorC: #4c79c1;

$highlightColor: rgb(255, 245, 161);
$relatedColor: #ffb840;
$similarColor: #7ca1ff;
$otherColor: red;

$zIndexInterface: 100;
$zIndexOnTop: 200;