@import "mixins";
@import "const";

#graph {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .links line {
        &.similar {
            stroke: $similarColor;
        }
        &.related {
            stroke: $relatedColor;
        }
        &.other {
            stroke: #bbb;
        }
    }

    .nodes {

        .node {

            circle {
                stroke: #fff;
                stroke-width: 1px;
                fill: $otherColor;
            }

            &.entity circle {
                fill: $similarColor;
            }

            &.folder circle {
                fill: #bbb;
            }

            &.selected circle {
                stroke: #000;
            }

            &.root circle {
                fill: $relatedColor;
            }

            text {
                text-anchor: middle;
                pointer-events: none;
                fill: black;
            }

        }

    }

    .brush .extent {
        fill-opacity: .1;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

}