@import "mixins";

#graph {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    .links line {
        &.similar {
            stroke: #70d9ff;
        }
        &.related {
            stroke: #ccc;
        }
        &.other {
            stroke: #c11;
        }
    }

    .nodes {

        .node {

            circle {
                stroke: #fff;
                stroke-width: 1px;
                fill: #7ca1ff;
            }

            &.selected circle {
                stroke: #000;
            }

            text {
                text-anchor: middle;
                pointer-events: none;
            }

        }

    }

    .brush .extent {
        fill-opacity: .1;
        stroke: #fff;
        shape-rendering: crispEdges;
    }

}