@charset "UTF-8";

// change here: http://app.fontastic.me/#publish/font/S2ZmpBbsKYvHqsjEzTVzeP

@font-face {
    font-family: "iknowentitybrowsericons";
    src:url("../fonts/iknowentitybrowsericons.eot");
    src:url("../fonts/iknowentitybrowsericons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/iknowentitybrowsericons.woff") format("woff"),
    url("../fonts/iknowentitybrowsericons.ttf") format("truetype"),
    url("../fonts/iknowentitybrowsericons.svg#iknowentitybrowsericons") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "iknowentitybrowsericons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "iknowentitybrowsericons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
    content: "\61";
}
.icon-zoom-in:before {
    content: "\63";
}
.icon-zoom-out:before {
    content: "\64";
}
.icon-search:before {
    content: "\65";
}
.icon-outline:before {
    content: "\66";
}
.icon-filled:before {
    content: "\67";
}
.icon-th-list:before {
    content: "\68";
}
.icon-check-circle:before {
    content: "\69";
}
.icon-circle:before {
    content: "\6a";
}
.icon-config:before {
    content: "\6b";
}
.icon-settings:before {
    content: "\6c";
}
.icon-filter:before {
    content: "\6d";
}
.icon-wrench:before {
    content: "\6f";
}
.icon-options:before {
    content: "\6e";
}
.icon-close:before {
    content: "\70";
}
.icon-unlink:before {
    content: "\72";
}
.icon-remove:before {
    content: "\71";
}
.icon-share:before {
    content: "\73";
}
.icon-redo:before {
    content: "\74";
}
.icon-undo:before {
    content: "\75";
}
.icon-add:before {
    content: "\62";
}
.icon-arrow-left:before {
    content: "\76";
}
.icon-arrow-right:before {
    content: "\77";
}
