@import "mixins";
@import "const";

[class*="icon-"] {
    @include user-select(none);
    @include transition($defaultTransition);
    position: relative;
    display: inline-block;
    cursor: pointer;
    &.ui { font-size: 28px; }
    &:hover { color: $colorA; }
    &.toggled {
        color: $colorD;
        &:hover { color: $colorA; }
    }
    &.disabled {
        color: gray;
        &:hover { color: gray; }
    }
}

.uiIconGroup {
    position: fixed;
    &.topRight { top: 5px; right: 5px; }
}