@import "mixins";
@import "const";

#table {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: white;
    overflow: visible;
    box-shadow: $defaultShadow;
    @include transition($defaultTransition);
    @include transform(translate(100%,0));
    &.active {
        @include transform(translate(0,0));
    }

    > .wrapper {

        overflow: auto;
        height: 100%;
        padding: 0 $defaultPadding $defaultPadding $defaultPadding;
        box-sizing: border-box;

        > .controls {
            position: relative;
            padding-left: 30px;
            top: 5px;
        }

        > .wrapper {

            position: relative;

            table {
                width: 100%;
            }

        }

    }

}