@import "mixins";
@import "const";

$headerHeight: 36px;

#table {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: white;
    overflow: visible;
    box-shadow: $defaultShadow;
    z-index: $zIndexInterface - 1;
    @include transition($defaultTransition);
    @include transform(translate(100%,0));
    &.active {
        @include transform(translate(0,0));
    }

    > .controls {
        position: relative;
        padding-left: 42px;
        top: 5px;
    }

    > .wrapper {

        overflow: auto;
        height: 100%; /* to be compatible with old browsers */
        height: calc(100% - #{$headerHeight});
        padding: $defaultPadding;
        box-sizing: border-box;

        table {
            width: 100%;
        }

    }

    .related {
        color: $relatedColor;
    }

    .similar {
        color: $similarColor;
    }

    .root {
        color: $otherColor;
    }

}

#tabular th {

    @include user-select(none);
    cursor: pointer;

    &.sort-up:after {
        content: " ▼";
    }

    &.sort-down:after {
        content: " ▲";
    }

    &:last-child {
        border-left: none;
    }

    &:nth-last-child(2) {
        border-right: none;
    }

}

#tabular td {
    max-width: 150px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tabular {

    td:last-child {

        width: 30px;
        border-left: none;

    }

    tr td:last-child {
        overflow: visible;
        text-overflow: clip;
        & i {
            position: relative;
            top: 2px;
            font-size: 13px;
            height: 13px;
            display: none;
            @include transition(none);
        }
    }

    tr {

        cursor: pointer;

        &:hover {

            background-color: $highlightColor;

            td:last-child i {
                display: inline-block;
            }

        }

    }

    td:nth-last-child(2) {
        border-right: none;
    }

}

#tabular-selected {

    tr td:last-child .icon-close {
        color: red;
    }

}

#tabular-others {

    opacity: 0.7;

    tr:first-child td {
        border-top: 1px solid black;
    }

    tr td:last-child .icon-add {
        color: green;
    }

}

#tabular-hidden {

    opacity: 0.4;

    tr:first-child td {
        border-top: 1px solid black;
    }

    tr td:last-child .icon-add {
        color: green;
    }

}