@import "mixins";
@import "const";

$headerHeight: 36px;

#table {

    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 100%;
    box-sizing: border-box;
    background: white;
    overflow: visible;
    box-shadow: $defaultShadow;
    @include transition($defaultTransition);
    @include transform(translate(100%,0));
    &.active {
        @include transform(translate(0,0));
    }

    > .controls {
        position: relative;
        padding-left: 40px;
        top: 5px;
    }

    > .wrapper {

        overflow: auto;
        height: 100%; /* to be compatible with old browsers */
        height: calc(100% - #{$headerHeight});
        padding: $defaultPadding;
        box-sizing: border-box;

        table {
            width: 100%;
        }

    }

}

#tabular th {

    @include user-select(none);
    cursor: pointer;

    &.sort-up:after {
        content: " ▼";
    }

    &.sort-down:after {
        content: " ▲";
    }

}

#tabular td {
    max-width: 150px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tabular-others {

    opacity: 0.6;

    tr:first-child td {
        border-top: 1px solid black;
    }

}